@import "common-general.css";

body {
	font-family: sans-serif;
	color: Black;
	background-color: whitesmoke;
}

#header {
	background-color: #454d5e;
	color: White;
}

#header td + td + td {
	color: #aaa;
}

#header a {
	color: white;
}
