@import "common-general.css";

body {
	font-family: sans-serif;
	color: #999FAA;
	background-color: #292C33;
}

#header {
	background-color: #454d5e;
	color: #999FAA;
}

#header td + td + td {
	color: #aaa;
}

#header a {
	color: #999FAA;
}

button {
	background-color: #596070;
	color: #A4A8B5;
}

input {
	background-color: #3B3F4A;
	color: #A4A8B5;
}

select {
	background-color: #3B3F4A;
	color: #A4A8B5;
}

a{
	color: #6D9BCF;
}

textarea {
	background-color: #3B3F4A;
	color: #A4A8B5;
}
