
#workArea
{
	padding: 5px;	
}

#maxItems
{
	width: 25px;	
}

#dateFormat
{
	width: 300px;	
}

#dateHelp
{
	background-color: #EEEEEE;
	position: absolute;	
	font-size: 11px;
}

#dateHelp th
{
	text-align: left;
	background-color: #DDDDDD;	
}

.optionHeader
{
	background-color: #EEEEEE;
	font-weight: bold;
}
#optionTable
{
	float: left;	
}

.bold
{
	font-weight: bold;	
}

#checkInterval, #markReadAfter
{
	width: 30px;	
}