
body
{
	overflow: hidden;	
}

#containerArea
{
	width: 100%;	
	height: 100%;
}

#feedScroller
{
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FCFCFC;	
	border-right: 1px solid #DEDEDE;
}

#feedPreviewScroller
{
	overflow: auto;
    width:100%!important;
}

#feedHeader
{	
	font-size: 15px;	
	background-color: #666d7c;
	color: #AAAAAA;	
	padding-left: 10px;	
}

#feedHeader a
{
	font-size: 12px;
	color: white;
	text-decoration: none;	
}

#feedHeader a:hover
{
	text-decoration: underline;	
}

#feedList
{ 
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}

#feedList li
{
	padding: 3px;
	white-space: nowrap;
	cursor: pointer;	
	border: 1px solid #FCFCFC;
	margin-bottom: 1px;
}

#feedList li:hover
{
	border: 1px solid #D8D8D8;
}

#feedArea, #workArea
{
	vertical-align: top;	
	height: 99%; /* keeps headers on top when there isn't enough content since master table is 100% height */
}

#feedsLoading
{
	display: none;	
	width: 99%;
	color: White;
	font-size: small;	
}

#feedsLoading td+td
{
	width: 99%;
	padding: 10px;
}

#feedsLoadingProgressBox
{
	border: 1px solid #AAAAAA;
	width: 100%;
}

#feedsLoadingProgress
{
	width: 0%;
	height: 5px;
	background-color: #EEEEEE;	
}

#feedsOptions
{
	white-space: nowrap;	
}

.loading tr > td:first-child
{
	background-image: url("loading.gif") !important;
}


#feedPreview
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	width: 100%;	
}


#feedPreview td
{
	vertical-align: top;	
}


.feedPreviewContainerCondensed .feedPreviewSummary, .feedPreviewContainerCondensed .feedPreviewDate, .feedPreviewContainerCondensed .feedPreviewAuthor
{
	display: none;	
}

.feedPreviewContainerRead
{	
	border: 1px solid #D0D0D0 !important;		
}

.feedPreviewContainerRead .feedPreviewTitle
{	
	background-color: #EFEFEF;		
}

.feedPreviewContainerRead .feedPreviewMarkRead, .feedPreviewContainerRead .feedPreviewReadLater 
{
	display: none;	
}

.feedPreviewContainer
{	
	border: 1px solid #96B6DF;
}

/* And the king decreed, let there be wrapping for all */
.feedPreviewContainer *
{
	white-space: normal;	
}

.feedPreviewTitle
{
	background-color: #D7E6F8;	
	margin: 0px;
	padding: 5px;
}

.feedPreviewTitle a
{
	text-decoration: none;
	color: Black;	
	font-size: 12px;
}

.feedPreviewTitle a:hover
{
	text-decoration: underline;	
}

.feedPreviewSummary
{
	padding: 5px;
    word-break: break-word;
    max-height:400px;
    overflow:auto;
}

.feedPreviewDate
{
	padding: 5px;	
	font-size: smaller;	
	float: left;
	white-space: nowrap;
	width: 1%;
}

.feedPreviewAuthor
{
	padding: 5px;	
	font-size: smaller;	
	text-align: right;	
}

.feedPreviewMarkRead
{
	float: right;
	border: 1px solid transparent;	
	cursor: pointer;
	width: 12px;
	height: 12px;
}

.feedPreviewReadLater
{
	float: right;
	margin-top: -1px;
	margin-right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.selectedFeed
{
	background-color: #E5EEFA;	
	border: 1px solid #A9CAF8 !important;
	color: #285491;
}

#noFeedsManaged, #noFeedsBookmarks
{
	font-size: 12px;	
	padding: 5px;
}

#feedError
{	
	font-size: 12px;
	padding: 5px;	
}

#feedErrorDetail
{
	font-weight: bold;	
}

#feedErrorMessage
{
	color: Red;
	font-weight: normal;	
}


#feedTitle9999999999
{
	border-bottom: 1px solid #DEDEDE !important;	
}

#feedTitle9999999999[class=selectedFeed]
{
	border-bottom: 1px solid #A9CAF8 !important;	
}

#noItems
{
	padding: 5px;
	font-size: 12px;	
}

