@import "viewer-general.css";

#feedScroller {
	background-color: whitesmoke;
	border-right: 1px solid #dedede;
}

#feedHeader {
	background-color: #666d7c;
	color: #aaa;
}

#feedHeader a {
	color: white;
}

#feedList li {
	border: 1px solid whitesmoke;
}

#feedList li:hover {
	border: 1px solid #d8d8d8;
}

#feedsLoading {
	color: White;
}

#feedsLoadingProgressBox {
	border: 1px solid #aaa;
}

#feedsLoadingProgress {
	background-color: #eee;
}

.feedPreviewContainerRead {
	border: 1px solid #d0d0d0 !important;
}

.feedPreviewContainerRead .feedPreviewTitle {
	background-color: #efefef;
}

.feedPreviewContainer {
	border: 1px solid #96b6df;
}

.feedPreviewTitle {
	background-color: #d7e6f8;
}

.feedPreviewContainerRead .feedPreviewTitle a {
	color: Black;
}

.selectedFeed {
	background-color: #e5eefa;
	border: 1px solid #a9caf8 !important;
	color: #285491;
}

#feedErrorMessage {
	color: Red;
}

#feedErrorContent {
	color: Red;
}

#feedTitle9999999999 {
	border-bottom: 1px solid #dedede !important;
}

#feedTitle9999999999[class=selectedFeed] {
	border-bottom: 1px solid #a9caf8 !important;
}
