@import "viewer-general.css";

#feedScroller {
	background-color: #1C1E23;
	border-right: 1px solid #4D5361;
}

#feedHeader {
	background-color: #3D4149;
	color: #aaa;
}

#feedHeader a {
	color: #999FAA;
}

#feedList li {
	border: 1px solid #40444F;
}

#feedList li:hover {
	border: 1px solid #d8d8d8;
}

#feedsLoading {
	color: White;
}

#feedsLoadingProgressBox {
	border: 1px solid #aaa;
}

#feedsLoadingProgress {
	background-color: #eee;
}

.loading tr > td:first-child {
	background-image: url("loading.gif") !important;
}

.feedPreviewContainerRead {
	border: 1px solid #B2B2B2 !important;
}

.feedPreviewContainerRead .feedPreviewTitle {
	background-color: #1C1E23;
}

.feedPreviewContainer {
	border: 1px solid #659DD8;
}

.feedPreviewTitle {
	background-color: #659DD8;
}

.feedPreviewContainerRead .feedPreviewTitle a {
	color: #999FAA;
}

.feedPreviewTitle a {
	color: #4D5460;
}

.feedPreviewSummaryContent, .feedPreviewSummary img {
  filter: brightness(.8) contrast(1.2);
}

.selectedFeed {
	background-color: #66A6F9;
	border: 1px solid #9EC6F7 !important;
	color: #1357A5;
}

#feedErrorMessage {
	color: Red;
}

#feedErrorContent {
	color: Red;
}

#feedTitle9999999999 {
	border-bottom: 1px solid #909090 !important;
}

#feedTitle9999999999[class=selectedFeed] {
	border-bottom: 1px solid #a9caf8 !important;
}
