body {
    overflow: hidden;
}

#containerArea {
    width: 100%;
    height: 100%;
}

#feedScroller {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#feedPreviewScroller {
    overflow: auto;
    width: 100% !important;
    height: 100%;
}

#feedHeader {
    font-size: var(--feedHeader-font-size);
    padding-left: 10px;
    padding-right: 10px;
}

#feedHeader a {
    font-size: var(--feedHeader-a-font-size);
    text-decoration: none;
}

#feedHeader a:hover {
    text-decoration: underline;
}

#feedList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#feedList li {
    padding: 3px;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 1px;
}

#feedArea, #workArea {
    vertical-align: top;
    height: 99%; /* keeps headers on top when there isn't enough content since master table is 100% height */
}

#feedsLoading {
    display: none;
    width: 99%;
    font-size: var(--feedsLoading-font-size);
}

#feedsLoading td + td {
    width: 99%;
    padding: 10px;
}

#feedsLoadingProgressBox {
    width: 100%;
}

#feedsLoadingProgress {
    width: 0;
    height: 5px;
}

#feedsOptions {
    white-space: nowrap;
}

.loading tr > td:first-child {
    background-image: url("loading.gif") !important;
}

#feedPreview {
    font-size: var(--feedPreview-font-size);
    outline: none;
    width: 100%;
    table-layout: fixed;
}

#feedPreview td {
    vertical-align: top;
    word-break: break-word;
}

#contentNotFormated {
    height: 99%;
}

#ContentIFrame {
    height: 100%;
    width: 100%;
}

.feedPreviewContainerCondensed .feedPreviewSummaryContent, .feedPreviewContainerCondensed .feedPreviewSummary, .feedPreviewContainerCondensed .feedPreviewDate, .feedPreviewContainerCondensed .feedPreviewAuthor, .feedPreviewContainerCondensed .feedPreviewFoot, .feedPreviewContainerCondensed .feedPreviewComments {
    display: none;
}

.feedPreviewContainerRead .feedPreviewMarkRead, .feedPreviewContainerRead .feedPreviewReadLater, .feedPreviewContainerRead .feedPreviewSummaryImg, .feedPreviewContainerRead .feedPreviewSummaryImg2 {
    display: none;
}

.feedPreviewContainerRead .feedPreviewUnread {
    display: block;
}

.feedPreviewContainer {
    display: block;
    min-height: 140px;
}

.feedPreviewContainerRead, .feedPreviewContainerCondensed {
    min-height: 0;
}

/* And the king decreed, let there be wrapping for all */
.feedPreviewContainer * {
    white-space: normal;
}

.feedPreviewTitle {
    margin: 0;
    padding: 5px;
    vertical-align: top;
    font-weight: bold;
}

.feedPreviewContainerRead .feedPreviewTitle a {
    text-decoration: none;
    font-size: var(--feedPreviewContainerRead-a-font-size);
}

.feedPreviewTitle a {
    text-decoration: none;
    font-size: var(--feedPreviewTitle-a-font-size);
}

.feedPreviewTitle a:hover {
    text-decoration: underline;
}

.feedPreviewSummaryContent, .feedPreviewSummary {
    padding: 5px;
    max-height: 200px;
    overflow: auto;
}

.feedPreviewSummaryContent, .feedPreviewSummary table {
    width: auto;
}

blockquote > blockquote > blockquote > blockquote {
    display: none;
}

.feedPreviewDate {
    padding: 5px;
    font-size: var(--feedPreviewDate-font-size);
    float: left;
    white-space: nowrap;
    width: 1%;
    position: absolute;
    top: 1px;
    left: 1px;
}

.feedPreviewAuthor {
    padding: 5px;
    font-size: var(--feedPreviewAuthor-font-size);
    text-align: right;
    position: absolute;
    top: 1px;
    right: 1px;
    float: right;
}

.feedPreviewMarkRead {
    float: right;
    border: 1px solid transparent;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.feedPreviewReadLater {
    float: right;
    margin-top: -1px;
    margin-right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.feedPreviewSummaryImg, .feedPreviewSummaryImg2, .feedreadUpdated {
    float: right;
    margin-top: -1px;
    margin-right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.feedPreviewUnread {
    float: right;
    border: 1px solid transparent;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: none;
}

.onefeed {
    float: right;
    border: 1px solid transparent;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block;
}

.thumbnail {
    float: left;
    width: auto;
    display: inline-block;
}

.thumbnail img {
    width: 150px;
    height: auto;
}

#noFeedsManaged {
    font-size: var(--noFeedsManaged-font-size);
    padding: 5px;
}

#feedError {
    font-size: var(--feedError-font-size);
    padding: 5px;
}

#feedErrorDetail {
    font-weight: bold;
}

#feedErrorMessage {
    font-weight: bold;
}

#feedErrorContent {
    font-weight: normal;
}

#noItems {
    padding: 5px;
    font-size: var(--noItems-font-size);
}

#urlRedirected {
    font-size: var(--feedError-font-size);
    padding: 5px;
}

#urlRedirectedUrl {
    font-weight: bold;
}

.feedPreviewComments {
    padding: 5px;
    font-size: var(--feedPreviewAuthor-font-size);
    text-align: center;
}

.feedPreviewFoot {
    position: relative;
}

.catFilter {
    margin-left: 5px;
}

.catFilterInput {
    margin-left: 5px;

}
